<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Dog Generator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<h1>Doggo Viewer</h1>
			<span id="dog-name">Dougie the Default Corgi</span>

		</header>

		<section class="section-container">
			<section class="column" id="left-column">
				
				<section class="item"></section>
				<span>Choose your Breed!</span>
				
				<section class="item">
					<select name="" id="" class="breeds">
						<option value="starter" selected>Select Me!</option>
					</select>
				</section>
			
				<section class="item">
					<section class="img-container">
						
						<section class="container">
							<div>🐕🐕🐕🐶🐶🐶</div>
							<img src="http://placecorgi.com/260/180" 
							alt="Corgi image homepage" 
							class="img-doggo"
							/>
						</section>

					</section>
				</section>

			</section>
			<!-- --> 
			<!-- End of First Column -->

			<section class="column">
				<section class="item">
					<span>Doggo Characteristics</span>
					<ul>
						<li id="MF">S: Male</li>
						<li id="age">Age: 2</li>
						<li id="likes">Likes: Chicken Fingers, Milk</li>
						<li id="dislikes">Dislikes: Shadows, Bath</li>
						<li id="fun-fact">Additional info: Has to smell peoples hands everytime</li>

						
					</ul>
				</section>
				<section class="item"></section> 
			</section>
			
		</section>
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
